body {
    color: gray;
    padding: 10px;
}

header {
    text-align: center;
    border: 1px dotted gray;
}

.content {
    padding: 10px 0;
}

footer {
    text-align: center;
    border: 1px dotted gray;
    position:fixed;
    bottom:10px;
    left: 0;
    width: 100%;
}

.thumbnail:hover {
    background-color: #f5f6f6;
}